<app-header titulo="Card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card mode="ios">
     <ion-item color="secondary">
       <ion-icon slot="start" name="pin-outline"></ion-icon>
       <ion-label>ISSA GROUP</ion-label>
     </ion-item> 
     <ion-card-content>
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae ea consequuntur maxime similique nobis? Dolor tempore illum laborum quisquam, voluptas, porro quos, nostrum dolore unde in repudiandae odit. Itaque, libero?
     </ion-card-content> 
  </ion-card>

  <ion-card mode="ios">
    <img src="https://scontent.fmga3-1.fna.fbcdn.net/v/t1.0-9/139217572_3906646102755780_6782686828759203667_o.jpg?_nc_cat=101&ccb=1-3&_nc_sid=730e14&_nc_ohc=T4aWpfyI8AUAX_98Gr_&_nc_ht=scontent.fmga3-1.fna&oh=575e41ed152cc3dbe798ba5af4ffc9d9&oe=606CAFE8" alt="">
    <ion-card-header>
      <ion-card-subtitle>Mi princesa</ion-card-subtitle>
      <ion-card-title>Para mi bella</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Desde que llegaste a mi vida solo conozco una palabra, y es felicidad,
      cada uno de tus detalles hacen que mi corazon se llene de alegria, me gusta la forma en la que me amas
      y espero que siempre tengas esas ganas de amarme, no puedo quejarme de ti, realmente soy un tonto cuando lo hago, porque realmente das todo por verme feliz. Gracias por tu amor, estoy encantado. Te amooo Muchisimo 
    </ion-card-content>
  </ion-card>
</ion-content>
